@using Barbershop.Controllers
@using Barbershop.Features
@model EditDelete
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Регистрация</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        .header {
            background-color: #333;
            color: white;
            padding: 1em 0;
            text-align: center;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 2em;
            text-align: center;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #000;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            color: #333;
            margin-bottom: 5px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .btn-primary {
            display: inline-block;
            padding: 10px 20px;
            background-color: #343a40;
            color: #fff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
            margin: 5px;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: #23272b;
            }

        footer {
            margin-top: 20px;
            text-align: center;
        }

            footer a {
                color: #007bff;
                text-decoration: none;
            }

                footer a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    <div class="header">
        <h1>Посмотреть запись</h1>
    </div>
    <div class="container">
        <h2>Посмотреть свою запись</h2>
        @using (Html.BeginForm(nameof(ClientController.FindClientView), ClientController.Registr, FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(x => x.Email, "Введите ваш email:")
                @Html.TextBoxFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <button type="submit" class="btn btn-primary">Проверить запись</button>
        }
    </div>
    <footer>
        <a href="@Url.Action(nameof(HomeController.Index), "Home")" class="btn-primary">На главную</a>
    </footer>
</body>
</html>